/* Footer */
.footer {
  background: var(--gradient-primary);
  color: var(--text);
  padding: 60px 0;
  position: relative;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 40px;
  margin-left: calc(-50vw + 50%); // Ensure it starts from the left edge
  margin-right: calc(-50vw + 50%); // Ensure it ends at the right edge

  .footer-content {
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-md);
    padding: 40px;

    .ant-row {
      display: flex;
      justify-content: space-between;
    }

    .ant-col {
      padding: 10px;
      text-align: center;

      a {
        color: var(--text);
        text-decoration: none;
        transition: color 0.3s ease;
        &:hover {
          color: var(--gradient-primary);
        }
      }
      div {
        color: var(--text);
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          margin-bottom: 10px;
        }
      }

      h3 {
        margin-bottom: 20px;
        color: var(--text);
        font-weight: bold;
      }

      p {
        color: var(--text);
        margin-bottom: 10px;
      }
    }
  }

  .footer-bottom {
    text-align: center;
    padding-top: 20px;
    margin-top: 40px;
    border-top: 1px solid var(--primary);
    margin-bottom: 0;
    h5 {
      color: var(--text);
    }
    p {
      color: var(--text);
      font-size: 0.9rem;
    }

    .social-links {
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 0;

      li {
        margin: 0 10px;
        font-size: 1.5rem;

        a {
          color: var(--text);
          transition: color 0.3s ease;
          &:hover {
            color: var(--gradient-primary);
          }
        }
      }
    }
  }
}
