.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-layout {
  display: flex;
  flex: 1;
  min-height: 100vh;
  /* This container will hold the sidebar on the left and content on the right */
}

.main-content,
.main-content-sign {
  flex: 1;
  padding: 24px;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
  /* If your navbar is fixed and overlays content, you can adjust margin-top here */
  margin-top: 80px;
}

.main-content-sign {
  margin-top: 0;
}
